default-color= cadetblue

// 用法，给父元素一个class，如plat页面class=‘all-father’元素，使用@include引用mixin
// 子元素宽度为多少单元格，{$i}为多少
// 如果需要inline-block,则需要在写<style>样式时更改display（默认为$default-display）为flex。

//@mixin father-child-test {
//  display: $default-display;
//@for $i from 1 through 24 {
//.item-#{$i} {
//  width: $width-cell * $i;
//  background: $main-background-color;
//  outline: 1px solid white;
//}
//}
//}
